= #raise @result_data.inspect
= #raise @update_sites.inspect

.results
  .navigation
    .site-url
      Alle Seiten
    .site-url
      = @result_data[:url]
  .data-blocks
    = render :partial => "blocks", :locals => { :data_blocks => @result_data[:data_blocks] }

- if @update_sites
  - @update_sites.each do |site|
    :javascript
      $.ajax({
        url: "#{ update_results_url }",
        data: { update_site: "#{ site }" },
        dataType: 'script'
      });
